@using Microsoft.AspNetCore.Components.Web
@using WalymossCrafts.WebSite.Services
@using WalymossCrafts.WebSite.Models
@inject JsonFileProductService ProductService


<!-- Grid container -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var product in ProductService.GetProducts())
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@product.Image" class="card-img-top" alt="@product.Title">
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <button @onclick="(e => SelectProduct(product.Id))"
                                    data-toggle="modal" data-target="#productModal" class="btn btn-primary">
                                More Info
                            </button>
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@code {
    Product selectProduct;
    string selectProductId;

    void SelectProduct(string productId)
    {
        selectProductId = productId;
        selectProduct = ProductService.GetProducts().First(x => x.Id == productId);
    }
}
